.FizzBuzzContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.InfoTextStyle {
    text-align: center;
    max-width: 600px;
}

.InputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.InputContainer > * {
    padding: 5px;
    margin: 15px 0;
}

.InputStyle {
    border: 2px solid #666;
    border-radius: 3px;
    font-size: 1.2rem;
    width: 100px;
    text-align: right;
}

.ButtonStyle {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    background-color: #004088;
    color: #fff;
    border-radius: 3px;
    margin: 20px;

    cursor: pointer;
    transition: 0.1s all;
}
.ButtonStyle:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.ErrorStyle {
    color: red;
}

.TextOutputContainer {
    max-width: 100%;
    overflow: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    padding: 20px 35px 20px 15px;
    display: flex;
}

.ListStyle {
    margin: 0;
    color: #aaa;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.ListStyle > li {
    padding-left: 5px;
}

.ListElementStyle {
    color: black;
}

.FizzStyle {
    color: var(--v-color1);
}
.BuzzStyle {
    color: var(--v-color2);
}

.CanvasContainerStyle {
    margin: 20px;
}
.CanvasContainerStyle > div {
    display: flex;
    justify-content: center;
}
